In [40]:
import pandas as pd
import numpy as np

In [41]:
ab = pd.read_excel("Book.xlsx")
print(ab)

  Name  Score  Attempts
0    A    200         2
1    B    300         3
2    C    400         4
3    E    500         5
4    F    600         6

In [42]:
# find no of attempt greater than 2? Q1
ab[ab['Attempts'] > 2 ]

  Name  Score  Attempts
1    B    300         3
2    C    400         4
3    E    500         5
4    F    600         6

In [44]:
# Q2 Count number of rows in a dataset:
print(" Total no of rows:",len(ab))

 Total no of rows: 5

In [45]:
# Q3 select rows  where score is above 200?
ab[ab['Score'] > 200 ]

  Name  Score  Attempts
1    B    300         3
2    C    400         4
3    E    500         5
4    F    600         6

In [46]:
# charge score in row 1 from 300 to 700?
ab ['Score'] [1] = 700

<ipython-input-46-4b10e13be0f5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ab ['Score'] [1] = 700

In [52]:
ab.to_excel("Book2.xlsx")

In [48]:
# Total no of attempts?
total =

In [49]:
#find Average Of Score?
Score =  ab.iloc [: , -2].values
sum(Score)/len(Score)
np.average(Score)

480.0

In [56]:
# Q2 again from different method
index = ab.index
no_of_rows= len(index)
print(no_of_rows)

5

In [59]:
#what is minimum And max
ab['Score'].max()

700

In [62]:
# ///
ab['Score'].min()

200